@import url('https://fonts.googleapis.com/css2?family=Borel&family=Caveat:wght@400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Glagolitic&family=Playfair+Display:wght@500&display=swap');

$warm-primary: rgb(249, 206, 175);
$warm-secondary: #fde2c4;
$warm-extralight: rgb(251, 242, 232);
$warm-greenish: #f2edcfff;
$cool-extralight: rgb(241, 255, 251);
$cool-secondary: #e1f4eeff;
$cool-primary: #b5e3d5ff;

body {
  background-color: $cool-extralight;
  font-family: 'Playfair Display';
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.mainContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 190px 12fr 190px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". head head . ."
    ". home home home . "
    ". . nav nav . "
    ". . login . ."
    ". signup signup signup . ";


  #pageHeader {
    margin-top: 8px;
    grid-area: head;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 13px
  }

  #pageHeader>p {
    margin: 0px;
    margin-top: 12px;
  }

  #pageHeader>img {
    height: 1.8em;
    align-self: baseline;
  }


  .loginContainer {
    grid-area: login;
    grid-row-start: 2;
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    padding: 25px;


    #loginForm {
      max-width: 500px;
      min-width: 280px;
      background-color: $warm-extralight;
      flex: 1 1 auto;
      display: grid;
      padding: 25px;
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-rows: auto;
      grid-gap: 20px;
      border: 1px solid darkgray;

      #loginHeaderBox {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 30px;
        align-items: center;
        max-height: 280px;
      }

      #loginHeader {
        font-family: 'Playfair Display';
        font-style: italic;
        font-size: 3.3vw;
        margin-bottom: 0px;
      }

      #loginHeaderImage {
        margin-top: 20px;
        height: 40%;
      }

      .inputField {
        grid-column: 2;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }

      .inputField>input {
        font-family: Nunito;
        font-size: 1.3rem;
        text-align: center;
        padding-right: 5px;
        height: 1.8rem;
        width: 270px;
      }


      #loginLink {
        grid-column: 2;
        grid-row: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px lightgrey;
        border-radius: 15px;
        padding: 5px;
        background-color: skyblue;
        margin-bottom: 45px;
      }

      #loginButton {
        grid-column: 2;
        font-style: none;
        font-family: 'Noto Sans Glagolitic';
        font-size: 1.5rem;
        border: none;
        width: 100%;
        background-color: transparent;
        margin-bottom: 5px;
      }
    }
  }

}

.signupContainer {
  grid-area: signup;
  display: flex;
  flex-direction: column;
  align-items: center;

  .signupBox {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

.homeContainer {
  grid-area: home;
  display: grid;
  grid-template-columns: 270px 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". nav"
    "user user";

  #navbar {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;

    #navList {
      display: flex;
      justify-self: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;
      gap: 10px;

      .navListItem {
        justify-self: flex-end;
      }
    }
  }

  .userProfile {
    grid-area: user;
    font-family: Nunito;
    font-style: italic;
    display: grid;
    gap: 15px;
    grid-template-columns: 270px 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "prods recs";

    .userProducts {
      grid-area: prods;
      font-size: 0.8rem;
      background-color: $warm-secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .userItem {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .userItemImage {
        width: calc(100% - 30px);
      }
    }

    .recommendations {
      grid-area: recs;
      font-family: 'Noto Sans Glagolitic';
      font-size: 2rem;
      background-color: $warm-extralight;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .recommendedItem {
        font-family: Nunito;
        font-style: italic;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .recommendedItemImage {
        max-width: 80%
      }
    }
  }

}

.product {
  border: 1px solid black;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 200px;
    height: auto;
  }
}