@import url('https://fonts.googleapis.com/css2?family=Borel&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');


$warm-primary: rgb(249, 206, 175);
$warm-secondary: #fde2c4;
$warm-extralight: rgb(251, 242, 232);
$warm-greenish: #f2edcfff;
$cool-extralight: rgb(241, 255, 251);
$cool-secondary: #e1f4eeff;
$cool-primary: #b5e3d5ff;

body {
  background-color: $warm-extralight;
  font-family: Borel;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.mainContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 190px 12fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". head . ."
    ". home home . ";

  #pageHeader {
    margin-top: 8px;
    grid-area: head;
    font-size: 1.6rem;
  }


}

.homeContainer {
  grid-area: home;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". nav"
    "user user";

  #navbar {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;

    #navList {
      display: flex;
      justify-self: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;
      gap: 10px;

      .navListItem {
        justify-self: flex-end;
      }

    }
  }

  .userProfile {
    grid-area: user;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "prods recs";

    .userProducts {
      grid-area: prods;

    }

    .recommendations {
      grid-area: recs;
    }

  }





}





.loginBox {
  display: flex;
  flex-direction: column;
  padding: 25px;


  #loginForm {
    max-width: 500px;
    min-width: 280px;
    flex: 1 1 auto;
    display: grid;
    padding: 25px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    border: 1px solid darkgray;

    #loginHeaderBox {
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #loginHeader {
      font-family: Borel;
      font-size: 4vw;
    }

    .inputField {
      grid-column: 2;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }

    #loginLink {
      grid-column: 2;
      grid-row: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px lightgrey;
      border-radius: 15px;
      padding: 5px;
      background-color: skyblue;
    }

    #loginButton {
      grid-column: 2;
      font-style: none;
      border: none;
      width: 100%;
      background-color: transparent;
    }
  }
}